color_red = #bb202c
color_light-bg = #f6f6f6
color_black = #252525
color_white = #fff
color_light-gray-borders = #c9c9c9
color_light-gray-labels = #a4a4a4
color_gray-text = #7d7d7d
color_dark-gray-text = #444
color_shadow = #d0d0d0
